.mobile-hidden {
  display: none;
}

@media (min-width: 768px) {
  main {
    margin-top: 6.4rem;
  }

  html {
    font-size: 72.5%;
  }

  .mobile-hidden {
    display: block;
  }
  .only-mobile {
    display: none;
  }

  .cars {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1024px) {
  .cars {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
