.mobile-hidden {
  display: none;
}

@media (min-width: 768px) {
  main {
    margin-top: 6.4rem;
  }

  html {
    font-size: 72.5%;
  }

  .mobile-hidden {
    display: block;
  }
  .only-mobile {
    display: none;
  }

  .resume-skill__tables {
    grid-template-columns: 1fr 1fr;
  }
  .resume-skill__tables__table {
    align-self: stretch;
  }
  .car-card a {
    align-self: flex-end;
    justify-self: flex-end;
  }
}

@media (min-width: 1024px) {
}
