@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


.signup__component  *{
    padding: 0px;
    margin:0px;
    box-sizing: border-box;
}


.signup__component {
    display: flex;
    width: min(80%, 1000px);
    margin: auto;
    font-family: "Roboto", sans-serif;

}

.signup__main {
    width: 50%;


}

.block-1__greeting{
    display: flex;
    flex-direction: column;
    padding-left: 10%;
    gap: 20px;
    .block-1__head{
        text-align: center;
        color: blue;
        font-size: 7vh;
    }    
    .block-1__desc{
        padding: 0px 5%;
        text-align: center;
        font-size: 3vh;
        margin-bottom: 10px;
        .block-1__desc--span{
            color: blue;
        }
    }
}

.signup__main form {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.signup__main .signup__inputs {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;

}

.signup__main .signup__inputs  .signup__input__box {
        width: 70%;
        position: relative;
        margin:auto;
        margin-bottom: 2vh;
        
    }
.signup__main .signup__inputs input {
    width: 100%;
    height:6vh ;
    font-family: 'Roboto'; font-weight: 70;
    border-radius: 1vw;    
    font-size: 1.2rem;
    outline-color: rgb(40, 81, 245); 
    padding-left: 20%;  
}


.signup__input__icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 1%;
    font-size: 1.5rem;
    color: rgb(40, 81, 245); 
    padding: 3%;
    padding-top: 4%;
}

.signup__type {
    display: flex;
    margin-bottom: 2vh;
    width: 100%;
    justify-content: center;
    gap:5%;
    font-size: large;

}

.signup__type div {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2rem;
    gap: 3%;
    transform: translateX(-14%);
   
}

.signup__type input {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 1%;

}



.signup__button {
    align-self: center;
    width: 40%;
    height: 4.5vh;
    color: white;
    background-color: rgb(40, 81, 245);
    border-radius: 10px;
    font-size: 3vh;
    cursor: pointer;
    border: none;


}

.signup__account {
    margin-left: auto;
    margin: 2vh 2%;
    font-size: 1.2rem;
    text-align: end;
    

}


.signup__graphic {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

}

.signup__img {
    height: 70%;
    object-fit: cover;


}


@media (max-width: 768px){
    .signup__graphic {
        display: none;
    }

    .signup__inputs input{
        font-size: 1rem;
    }

    .signup__main {
        width: 80%;
        margin: auto;
    }
}