.car-card * {
  box-sizing: border-box;
  margin: 0;
  max-width: 100%;
  padding: 0;
  border: none;
}
.car-card {
  --primary-default: #5651e5;
  --primary-shade: #11215f;
  --default-dark: #040716;
  --light-dark: #4b5563;
  --lightest-dark: #e5e7eb;
  --light-green: #2f9e44;
  max-width: 28rem;
  position: relative;
  font-size: 62.5%;
  overflow: hidden;
  margin: auto;
  width: 100%;
  box-sizing: border-box;

  img {
    border-radius: 10px 10px 0 0;
  }

  .car-card__text {
    gap: 1rem;
    padding: 0.8rem;
    margin-top: 10px;

    > p {
      text-align: center;
    }
  }
}
.car-card__description {
  display: flex;
  justify-content: space-between;
  padding-left: 5%;

  .car-card__description__icon {
    font-size: 1.5rem;
    color: var(--primary-default);
    margin: 5px;
    margin-right: 20px;
  }
}

.car-card__about-owner {
  display: grid;
  justify-items: center;

  .owner-stars {
    margin-top: -30px;
  }

  img {
    border-radius: 50%;
    width: 60px;
    height: 60px;
  }
}

.price {
  font-weight: 800;
  font-size: 1.3rem;
}
.car-card__electric {
  background-color: rgba(86, 86, 236, 0.7);
  color: white;
  font-size: 1rem;
  padding: 0.6rem;
  letter-spacing: 0.075rem;
  border-radius: 9px;
  position: absolute;
  top: 1rem;
  right: 1rem;
  /* transform: translateX(50%); */
}

.rounded {
  border-radius: 9px;
}
.shadow {
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgb(156, 163, 175) 0px 10px 15px -3px, rgb(156, 163, 175) 0px 4px 6px -4px;
}

.car-card li,
.car-card ol {
  list-style: none;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-start {
  display: flex;
  justify-content: start;
  align-items: center;
}

p {
  font-size: 1rem;
  font-weight: 400;
}

.p-2 {
  font-size: 1.2rem;
  line-height: 1.6;
}

.car-card .star {
  font-size: 0.8rem;
  color: var(--light-dark);
  margin-top: 0;
}
.car-card .star-checked {
  color: var(--primary-default);
}

.car-card__image:hover {
  transform: scale(1.2);
  transition: all 0.7s ease-in-out;
}

.car-card__image {
  margin: 0 auto;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.car-card__image-container {
  height: 270px;
  width: 100%;
}
